### ***User Based collaborative filtering using svd***

**Definition-**collaborative filtering is a method to predict a rating for a user item pair based on the history of ratings given by the user and given to the item

**Why using svd?**

**Answer**- The SVD technique was introduced into the recommendation system domain by Brandyn Webb, much more famously known as Simon Funk during the Netflix Prize challenge.Conceptually it makes sense that an SVD based model is very well fit to a recommender system since a large strength of SVD is its ability to establish the relatedness of items based on a set of factors known as latent factors.

importing libraries

In [41]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
from scipy import *

In [42]:
df=pd.read_csv('/content/C__Users_Nabeel-pc_Desktop_movies_dataframe_grouplens.csv')

In [46]:
df['MovieID']=df['MovieID'].apply(pd.to_numeric)

In [47]:
df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [48]:
df.shape

(3883, 3)

In [49]:
df_users=pd.read_csv("/content/users.csv")

In [50]:
df_users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7     2460
4       5      M   25          20    55455

In [51]:
df_users.shape

(6040, 5)

In [52]:
df_ratings=pd.read_csv('/content/ratings.csv')

In [53]:
df_ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [54]:
df_ratings.shape

(1000209, 4)

***user based collaborative filtering without using surprise library***

In [55]:
df_movie_features = df_ratings.pivot(index='UserID',columns='MovieID',values='Rating').fillna(0)

In [56]:
df_movie_features.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         5.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   2.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

In [57]:
import numpy as np
#R = df_movie_features.as_matrix()
R=np.asarray(df_movie_features)
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)
print(R_demeaned)

[[ 4.94009714 -0.05990286 -0.05990286 ... -0.05990286 -0.05990286
  -0.05990286]
 [-0.12924987 -0.12924987 -0.12924987 ... -0.12924987 -0.12924987
  -0.12924987]
 [-0.05369671 -0.05369671 -0.05369671 ... -0.05369671 -0.05369671
  -0.05369671]
 ...
 [-0.02050729 -0.02050729 -0.02050729 ... -0.02050729 -0.02050729
  -0.02050729]
 [-0.1287102  -0.1287102  -0.1287102  ... -0.1287102  -0.1287102
  -0.1287102 ]
 [ 2.6708041  -0.3291959  -0.3291959  ... -0.3291959  -0.3291959
  -0.3291959 ]]

In [58]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)
# that the Sigma$ returned is just the values instead of a diagonal matrix. 
# This is useful, but since I'm going to leverage matrix multiplication to get predictions 
# I'll convert it to the diagonal matrix form.
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
print(all_user_predicted_ratings)

[[ 4.28886061  0.14305516 -0.1950795  ...  0.03191195  0.05044975
   0.08891033]
 [ 0.74471587  0.16965927  0.33541808 ... -0.10110207 -0.0540982
  -0.14018846]
 [ 1.81882382  0.45613623  0.09097801 ...  0.01234452  0.01514752
  -0.10995596]
 ...
 [ 0.61908871 -0.16176859  0.10673806 ... -0.01336948 -0.0303543
  -0.11493552]
 [ 1.50360483 -0.03620761 -0.16126817 ... -0.01090407 -0.03864749
  -0.16835943]
 [ 1.99624816 -0.18598715 -0.1564782  ... -0.00664061  0.12706713
   0.28500112]]

In [59]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = df_movie_features.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [60]:
def recommend_movies(predictions_df, userID, df, original_ratings_df, num_recommendations=10):
  user_row_number = userID - 1 # UserID starts at 1, not 0
  sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
  #print(sorted_user_predictions)
  #Get the user's data and merge in the movie information.
  user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
  user_full = (user_data.merge(df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                      sort_values(['Rating'], ascending=False))

  print ('User {0} has already rated {1} movies'.format(userID, user_full.shape[0]))
  #print( 'Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
     # Recommend the highest predicted rating movies that the user hasn't seen yet.
  recommendations = (df[~df['MovieID'].isin(user_full['MovieID'])].merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left').rename(columns = {user_row_number: 'Predictions'}).
  sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1])
  return user_full, recommendations

In [61]:
a=int(input('Enter any userid: '))
already_rated, predictions = recommend_movies(preds_df, a, df, df_ratings, 10)
print("The movies that user has already rated",already_rated)
print('Recommend movies for userid',a, 'are following :')
predictions.head()

Enter any userid: 1
User 1 has already rated 53 movies
The movies that user has already rated     UserID  ...                                         Genres
0        1  ...                                          Drama
46       1  ...                   Animation|Children's|Musical
40       1  ...                    Animation|Children's|Comedy
18       1  ...                                          Drama
41       1  ...                                          Drama
23       1  ...                                      Drama|War
37       1  ...                   Animation|Children's|Musical
14       1  ...                                        Musical
25       1  ...           Animation|Children's|Musical|Romance
45       1  ...                      Children's|Comedy|Musical
10       1  ...                   Animation|Children's|Musical
22       1  ...                                  Comedy|Sci-Fi
36       1  ...                                          Drama
48       1  ...                               Action|Drama|War
7        1  ...                                   Comedy|Drama
6        1  ...                         Action|Adventure|Drama
4        1  ...                    Animation|Children's|Comedy
39       1  ...                                          Drama
35       1  ...                   Animation|Children's|Musical
34       1  ...                           Animation|Children's
33       1  ...            Animation|Children's|Comedy|Musical
43       1  ...                           Action|Crime|Romance
38       1  ...                                       Thriller
42       1  ...                                          Drama
31       1  ...                                          Drama
44       1  ...                Action|Adventure|Fantasy|Sci-Fi
47       1  ...                                          Drama
49       1  ...                               Children's|Drama
50       1  ...                    Animation|Children's|Comedy
51       1  ...                           Crime|Drama|Thriller
32       1  ...  Adventure|Animation|Children's|Comedy|Musical
26       1  ...                Children's|Drama|Fantasy|Sci-Fi
30       1  ...                           Animation|Children's
17       1  ...                           Animation|Children's
3        1  ...                                          Drama
8        1  ...                   Animation|Children's|Musical
9        1  ...             Adventure|Children's|Drama|Musical
11       1  ...                                        Musical
12       1  ...                                          Drama
13       1  ...                                         Comedy
15       1  ...                                         Comedy
52       1  ...                                          Drama
19       1  ...                                 Comedy|Fantasy
27       1  ...                                  Drama|Romance
28       1  ...                                          Drama
29       1  ...                      Animation|Comedy|Thriller
20       1  ...                                         Comedy
21       1  ...                                      Animation
24       1  ...                                        Romance
1        1  ...                   Animation|Children's|Musical
5        1  ...                Action|Adventure|Comedy|Romance
2        1  ...                                Musical|Romance
16       1  ...                           Animation|Children's

[53 rows x 6 columns]
Recommend movies for userid 1 are following :

      MovieID  ...                                       Genres
311       318  ...                                        Drama
32         34  ...                      Children's|Comedy|Drama
356       364  ...                 Animation|Children's|Musical
1975     2081  ...  Animation|Children's|Comedy|Musical|Romance
1235     1282  ...                 Animation|Children's|Musical

[5 rows x 3 columns]

***user based cf using surprise library***

In [62]:
pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.15.1)

Mapping of movie titles

In [63]:
data_title = pd.read_csv('/content/C__Users_Nabeel-pc_Desktop_movies_dataframe_grouplens.csv')
data_title.set_index('MovieID', inplace = True)
print (data_title.head(10))

                                      Title                        Genres
MovieID
1                          Toy Story (1995)   Animation|Children's|Comedy
2                            Jumanji (1995)  Adventure|Children's|Fantasy
3                   Grumpier Old Men (1995)                Comedy|Romance
4                  Waiting to Exhale (1995)                  Comedy|Drama
5        Father of the Bride Part II (1995)                        Comedy
6                               Heat (1995)         Action|Crime|Thriller
7                            Sabrina (1995)                Comedy|Romance
8                       Tom and Huck (1995)          Adventure|Children's
9                       Sudden Death (1995)                        Action
10                         GoldenEye (1995)     Action|Adventure|Thriller

Getting information about the movies that a given user 1 has rated 5

In [64]:
user = df_ratings[(df_ratings['UserID'] == 1) & (df_ratings['Rating'] == 5)]
user = user.set_index('MovieID')
user = user.join(data_title)['Title']
print(user)

MovieID
1193    One Flew Over the Cuckoo's Nest (1975)
2355                      Bug's Life, A (1998)
1287                            Ben-Hur (1959)
2804                 Christmas Story, A (1983)
595                Beauty and the Beast (1991)
1035                Sound of Music, The (1965)
3105                         Awakenings (1990)
1270                 Back to the Future (1985)
527                    Schindler's List (1993)
48                           Pocahontas (1995)
1836            Last Days of Disco, The (1998)
1022                         Cinderella (1950)
150                           Apollo 13 (1995)
1                             Toy Story (1995)
1961                           Rain Man (1988)
1028                       Mary Poppins (1964)
1029                              Dumbo (1941)
2028                Saving Private Ryan (1998)
Name: Title, dtype: object

In [65]:
from surprise import SVD
from surprise import Dataset,Reader
from surprise import accuracy
from collections import defaultdict
from surprise.model_selection import cross_validate,train_test_split
#reader tells our svd what the lower and upper bound of our rating is
reader=Reader(rating_scale=(1,5))

In [66]:
data1=df_ratings[:500000]

In [67]:
df_ratings.shape

(1000209, 4)

In [68]:
data=Dataset.load_from_df(df_ratings[['UserID','MovieID','Rating']],reader)

In [69]:
# Retrieve the trainset
trainset = data.build_full_trainset()

In [70]:
model=SVD(n_factors=100,biased=False) #n_factors are no of latent factors
#model.fit(trainset)

In [71]:
# Run 5-fold cross-validation and print results
a=cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
tmp = pd.DataFrame.from_dict(a).mean(axis=0)
tmp.head()

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8755  0.8724  0.8752  0.8751  0.8748  0.8746  0.0011
MAE (testset)     0.6886  0.6867  0.6886  0.6881  0.6874  0.6879  0.0007
Fit time          49.79   50.40   50.50   50.04   50.65   50.28   0.32
Test time         2.59    2.45    3.00    2.14    2.59    2.55    0.28

test_rmse     0.874616
test_mae      0.687876
fit_time     50.278176
test_time     2.554125
dtype: float64

In [72]:
model.fit(trainset)

''' use of build_anti_testset-  return a list of ratings that can be used as a testset in the test() method
the ratings are all ratings that are not in the testset'''
testset = trainset.build_anti_testset()

predictions = model.test(testset)
#predictions.predict(1,2)  #first parameter is raw user id while second is raw item id

In [73]:
def predection( userid ):

  user = data_title.copy()
  user = user.reset_index()
  #user = user[~user['Movie_Id'].isin(drop_movie_list)]
  user['Estimate_Score'] = user['MovieID'].apply(lambda x: model.predict(userid, x).est)
  user = user.drop('MovieID', axis = 1)
  user= user.sort_values('Estimate_Score', ascending=False)
  x=print(user.head(10))
  return

In [74]:
df_ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [75]:
#make predection for the user 1
predection(1)

                                 Title  ... Estimate_Score
315   Shawshank Redemption, The (1994)  ...       4.878221
1022        Sound of Music, The (1965)  ...       4.847096
907           Wizard of Oz, The (1939)  ...       4.782339
523            Schindler's List (1993)  ...       4.738699
941       It's a Wonderful Life (1946)  ...       4.727634
1015               Mary Poppins (1964)  ...       4.670776
589   Silence of the Lambs, The (1991)  ...       4.624984
1892                   Rain Man (1988)  ...       4.617854
2735         Christmas Story, A (1983)  ...       4.599389
1189      To Kill a Mockingbird (1962)  ...       4.586677

[10 rows x 3 columns]

***Question***

Maths Behind SVD

SVD is a matrix factorization technique that is usually used to reduce the number of features of a data set by reducing space dimensions from N to K where K < N. 

In linear algebra, **the Singular value decomposition(SVD) ** is  factorisation of areal or complex matrix that generalizes the eigendecoposition of a square noral atrix to any m*n  matrix via an extension of the polar decomposition.

specifiacally,the singular value decompositon of an  m*n  real or complex matrix M is factorization of the form  
                         U*S*V(transpose)  
 where U is an m*m real or complex unitary matrix, 
 S is an m*n rectangular diagonal matrix with non-negative real numbers on     the diagonal , and 
 V is an n*n real or complex unitary matrix.if M is real ,U and V(Transpose) are real orthogonal  matrices.

The diagonal S(sigma) are known as singular values of M.The Columns of U and the Columns of V are called the left-singular vectors and right-singular vectors of M,respectively.