**Content Based Recommendation**

In [1]:
import numpy as np
import pandas as pd

In [2]:
ratings=pd.read_csv('/content/drive/My Drive/Dataset/Ratings .csv')
movies=pd.read_csv('/content/drive/My Drive/Dataset/movies.csv')
userdata=pd.read_csv('/content/drive/My Drive/Dataset/user_data.csv')

In [3]:
movies=pd.read_csv('/content/drive/My Drive/Dataset/movies.csv')
movies

      MovieID                               Title                        Genres
0           1                    Toy Story (1995)   Animation|Children's|Comedy
1           2                      Jumanji (1995)  Adventure|Children's|Fantasy
2           3             Grumpier Old Men (1995)                Comedy|Romance
3           4            Waiting to Exhale (1995)                  Comedy|Drama
4           5  Father of the Bride Part II (1995)                        Comedy
...       ...                                 ...                           ...
3878     3948             Meet the Parents (2000)                        Comedy
3879     3949          Requiem for a Dream (2000)                         Drama
3880     3950                    Tigerland (2000)                         Drama
3881     3951             Two Family House (2000)                         Drama
3882     3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [4]:
ratings=pd.read_csv('/content/drive/My Drive/Dataset/Ratings .csv')
ratings

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [5]:
userdata=pd.read_csv('/content/drive/My Drive/Dataset/user_data.csv')
userdata

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7     2460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0     1060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [3]:
df=ratings.merge(userdata, on='UserID',how='left').merge(movies, on='MovieID',how='left')
df

         UserID  ...                           Genres
0             1  ...                            Drama
1             1  ...     Animation|Children's|Musical
2             1  ...                  Musical|Romance
3             1  ...                            Drama
4             1  ...      Animation|Children's|Comedy
...         ...  ...                              ...
1000204    6040  ...                           Comedy
1000205    6040  ...                Drama|Romance|War
1000206    6040  ...                     Comedy|Drama
1000207    6040  ...                            Drama
1000208    6040  ...  Children's|Drama|Fantasy|Sci-Fi

[1000209 rows x 10 columns]

In [4]:
df=df.drop(columns='Timestamp')
df

         UserID  ...                           Genres
0             1  ...                            Drama
1             1  ...     Animation|Children's|Musical
2             1  ...                  Musical|Romance
3             1  ...                            Drama
4             1  ...      Animation|Children's|Comedy
...         ...  ...                              ...
1000204    6040  ...                           Comedy
1000205    6040  ...                Drama|Romance|War
1000206    6040  ...                     Comedy|Drama
1000207    6040  ...                            Drama
1000208    6040  ...  Children's|Drama|Fantasy|Sci-Fi

[1000209 rows x 9 columns]

In [8]:
df.shape

(1000209, 9)

Content Based on Genres ( using TfidfVectorizer)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0)
tfidf_matrix = tf.fit_transform(movies['Genres'])

In [6]:
tfidf_matrix.shape

(3883, 127)

In [7]:
tfidf_matrix

<3883x127 sparse matrix of type '<class 'numpy.float64'>'
	with 9573 stored elements in Compressed Sparse Row format>

In [8]:
from sklearn.metrics.pairwise import linear_kernel
cos_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [9]:
cos_sim[0]

array([1.        , 0.14193614, 0.09010857, ..., 0.        , 0.        ,
       0.        ])

In [10]:
titles = movies['Title']
indices = pd.Series(movies.index, index=movies['Title'])

In [11]:
def recommend(title):
  idx = indices[title]
  sim_sc = list(enumerate(cos_sim[idx]))
  sim_sc = sorted(sim_sc, key=lambda x: x[1], reverse=True)[1:11]
  movie_indices = [i[0] for i in sim_sc]
  print("Movies similar to ==>",title,"are")
  gg=pd.DataFrame(movies['Title'].iloc[movie_indices])
  return gg

In [12]:
recommend('Toy Story (1995)')

Movies similar to ==> Toy Story (1995) are

                                               Title
1050          Aladdin and the King of Thieves (1996)
2072                        American Tail, An (1986)
2073      American Tail: Fievel Goes West, An (1991)
2285                       Rugrats Movie, The (1998)
2286                            Bug's Life, A (1998)
3045                              Toy Story 2 (1999)
3542                           Saludos Amigos (1943)
3682                              Chicken Run (2000)
3685  Adventures of Rocky and Bullwinkle, The (2000)
236                            Goofy Movie, A (1995)

In [16]:
movies.loc[movies['Title'].isin(['Toy Story (1995)',
                                 'Aladdin and the King of Thieves (1996)',
                                 'American Tail, An (1986)',
                                 'American Tail: Fievel Goes West, An (1991)',
                                 'Rugrats Movie, The (1998)',
                                 "Bug's Life, A (1998)",
                                 'Toy Story 2 (1999)',
                                 'Saludos Amigos (1943)',
                                 'Chicken Run (2000)',
                                 'Adventures of Rocky and Bullwinkle, The (2000)',
                                 'Goofy Movie, A (1995)'])]

      MovieID  ...                               Genres
0           1  ...          Animation|Children's|Comedy
236       239  ...  Animation|Children's|Comedy|Romance
1050     1064  ...          Animation|Children's|Comedy
2072     2141  ...          Animation|Children's|Comedy
2073     2142  ...          Animation|Children's|Comedy
2285     2354  ...          Animation|Children's|Comedy
2286     2355  ...          Animation|Children's|Comedy
3045     3114  ...          Animation|Children's|Comedy
3542     3611  ...          Animation|Children's|Comedy
3682     3751  ...          Animation|Children's|Comedy
3685     3754  ...          Animation|Children's|Comedy

[11 rows x 3 columns]

In [17]:
recommend('Jumanji (1995)')

Movies similar to ==> Jumanji (1995) are

                                                  Title
55                       Kids of the Round Table (1995)
59                   Indian in the Cupboard, The (1995)
124                   NeverEnding Story III, The (1994)
996                     Escape to Witch Mountain (1975)
1898                                   Labyrinth (1986)
1936                                Goonies, The (1985)
1974          Darby O'Gill and the Little People (1959)
2092                      NeverEnding Story, The (1984)
2093  NeverEnding Story II: The Next Chapter, The (1...
2330                      Santa Claus: The Movie (1985)

In [18]:
movies.loc[movies['Title'].isin(['Jumanji (1995)',
                                 'Kids of the Round Table (1995)',
                                 'Indian in the Cupboard, The (1995)',
                                 'NeverEnding Story III, The (1994)',
                                 'Escape to Witch Mountain (1975)',
                                 'Labyrinth (1986)',
                                 'Goonies, The (1985)',
                                 "Darby O'Gill and the Little People (1959)",
                                 'NeverEnding Story, The (1984)',
                                 'Santa Claus: The Movie (1985)'])]

      MovieID  ...                        Genres
1           2  ...  Adventure|Children's|Fantasy
55         56  ...  Adventure|Children's|Fantasy
59         60  ...  Adventure|Children's|Fantasy
124       126  ...  Adventure|Children's|Fantasy
996      1009  ...  Adventure|Children's|Fantasy
1898     1967  ...  Adventure|Children's|Fantasy
1936     2005  ...  Adventure|Children's|Fantasy
1974     2043  ...  Adventure|Children's|Fantasy
2092     2161  ...  Adventure|Children's|Fantasy
2330     2399  ...  Adventure|Children's|Fantasy

[10 rows x 3 columns]

Using CountVectorizer

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
cv = CountVectorizer()
cv_matrix = cv.fit_transform(movies['Genres'])

In [21]:
cv_matrix.shape

(3883, 20)

In [22]:
cv_matrix

<3883x20 sparse matrix of type '<class 'numpy.int64'>'
	with 6728 stored elements in Compressed Sparse Row format>

In [24]:
cosi_sim = cosine_similarity(cv_matrix, cv_matrix)
cosi_sim

array([[1.        , 0.33333333, 0.40824829, ..., 0.        , 0.        ,
        0.        ],
       [0.33333333, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.40824829, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.70710678],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.70710678],
       [0.        , 0.        , 0.        , ..., 0.70710678, 0.70710678,
        1.        ]])

In [25]:
titles = movies['Title']
indices = pd.Series(movies.index, index=movies['Title'])

In [26]:
def recommend(title):
  idx = indices[title]
  sim_sc = list(enumerate(cosi_sim[idx]))
  sim_sc = sorted(sim_sc, key=lambda x: x[1], reverse=True)[1:11]
  movie_indices = [i[0] for i in sim_sc]
  print("Movies similar to ==>",title,"are")
  gg=pd.DataFrame(movies['Title'].iloc[movie_indices])
  return gg

In [27]:
recommend('Toy Story (1995)')

Movies similar to ==> Toy Story (1995) are

                                               Title
1050          Aladdin and the King of Thieves (1996)
2072                        American Tail, An (1986)
2073      American Tail: Fievel Goes West, An (1991)
2285                       Rugrats Movie, The (1998)
2286                            Bug's Life, A (1998)
3045                              Toy Story 2 (1999)
3542                           Saludos Amigos (1943)
3682                              Chicken Run (2000)
3685  Adventures of Rocky and Bullwinkle, The (2000)
236                            Goofy Movie, A (1995)

In [28]:
movies.loc[movies['Title'].isin(['Toy Story (1995)',
                                 'Aladdin and the King of Thieves (1996)',
                                 'American Tail, An (1986)',
                                 'American Tail: Fievel Goes West, An (1991)',
                                 'Rugrats Movie, The (1998)',
                                 "Bug's Life, A (1998)",
                                 'Toy Story 2 (1999)',
                                 'Saludos Amigos (1943)',
                                 'Chicken Run (2000)',
                                 'Adventures of Rocky and Bullwinkle, The (2000)',
                                 'Goofy Movie, A (1995)'])]

      MovieID  ...                               Genres
0           1  ...          Animation|Children's|Comedy
236       239  ...  Animation|Children's|Comedy|Romance
1050     1064  ...          Animation|Children's|Comedy
2072     2141  ...          Animation|Children's|Comedy
2073     2142  ...          Animation|Children's|Comedy
2285     2354  ...          Animation|Children's|Comedy
2286     2355  ...          Animation|Children's|Comedy
3045     3114  ...          Animation|Children's|Comedy
3542     3611  ...          Animation|Children's|Comedy
3682     3751  ...          Animation|Children's|Comedy
3685     3754  ...          Animation|Children's|Comedy

[11 rows x 3 columns]