## **Task - 2**

**Item based collabrative filtering**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ratings=pd.read_csv('/content/drive/My Drive/Dataset/Ratings .csv')
movies=pd.read_csv('/content/drive/My Drive/Dataset/movies.csv')
userdata=pd.read_csv('/content/drive/My Drive/Dataset/user_data.csv')

In [ ]:
movies=pd.read_csv('/content/drive/My Drive/Dataset/movies.csv')
movies

      MovieID                               Title                        Genres
0           1                    Toy Story (1995)   Animation|Children's|Comedy
1           2                      Jumanji (1995)  Adventure|Children's|Fantasy
2           3             Grumpier Old Men (1995)                Comedy|Romance
3           4            Waiting to Exhale (1995)                  Comedy|Drama
4           5  Father of the Bride Part II (1995)                        Comedy
...       ...                                 ...                           ...
3878     3948             Meet the Parents (2000)                        Comedy
3879     3949          Requiem for a Dream (2000)                         Drama
3880     3950                    Tigerland (2000)                         Drama
3881     3951             Two Family House (2000)                         Drama
3882     3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [ ]:
ratings=pd.read_csv('/content/drive/My Drive/Dataset/Ratings .csv')
ratings

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [ ]:
userdata=pd.read_csv('/content/drive/My Drive/Dataset/user_data.csv')
userdata

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7     2460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0     1060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [ ]:
df=ratings.merge(userdata, on='UserID',how='left').merge(movies, on='MovieID',how='left')
df

         UserID  ...                           Genres
0             1  ...                            Drama
1             1  ...     Animation|Children's|Musical
2             1  ...                  Musical|Romance
3             1  ...                            Drama
4             1  ...      Animation|Children's|Comedy
...         ...  ...                              ...
1000204    6040  ...                           Comedy
1000205    6040  ...                Drama|Romance|War
1000206    6040  ...                     Comedy|Drama
1000207    6040  ...                            Drama
1000208    6040  ...  Children's|Drama|Fantasy|Sci-Fi

[1000209 rows x 10 columns]

In [ ]:
df.shape

(1000209, 10)

In [ ]:
df.dtypes

UserID         int64
MovieID        int64
Rating         int64
Timestamp      int64
Gender        object
Age            int64
Occupation     int64
Zip-code      object
Title         object
Genres        object
dtype: object

In [ ]:
#continous columns
continous_col = df._get_numeric_data().columns
con_cols = []
for i in continous_col:
  if(len(df[i].unique())>df.shape[0]/25):
     con_cols.append(i)
print ('Continous column:',con_cols)

Continous column: ['Timestamp']

In [ ]:
#categorial column
cate_col=list(set(df.columns)-set(con_cols))
cat_col=[]
for i in cate_col:
  if(len(df[i].unique())<df.shape[0]/25):  
    cat_col.append(i)
print ('Categorial columns:',cat_col)

Categorial columns: ['Gender', 'Age', 'Zip-code', 'MovieID', 'Genres', 'Rating', 'UserID', 'Occupation', 'Title']

In [ ]:
for i in con_cols:
  print(i,':',(len(df[i].unique())))

Timestamp : 458455

In [ ]:
#categorial
for j in list(set(df.columns) - set(con_cols)):
  print(j,':',(len(df[j].unique())))

Gender : 2
Age : 7
Zip-code : 3439
MovieID : 3706
Genres : 301
Rating : 5
UserID : 6040
Occupation : 21
Title : 3706

**Outlier handling**

In [ ]:
for i in con_cols:
  print(i,'  : ',(df[i].skew()))

Timestamp   :  2.7656911632559553

In user rating dataset has a *Timestamp* column which stores the last time the rating was updated. It is the time mentioned in seconds when the rating was provided. It is be like primary key or it has more then 45000 unique values.It is different for different users. we can't perform outlier treatment on this column.

After feature selection, it conclude that we don't need *Timestamp*.

So,we drop the column *Timestamp*.

In [ ]:
df=df.drop(columns='Timestamp')
df

         UserID  ...                           Genres
0             1  ...                            Drama
1             1  ...     Animation|Children's|Musical
2             1  ...                  Musical|Romance
3             1  ...                            Drama
4             1  ...      Animation|Children's|Comedy
...         ...  ...                              ...
1000204    6040  ...                           Comedy
1000205    6040  ...                Drama|Romance|War
1000206    6040  ...                     Comedy|Drama
1000207    6040  ...                            Drama
1000208    6040  ...  Children's|Drama|Fantasy|Sci-Fi

[1000209 rows x 9 columns]

In [ ]:
#split genres
indx=[]
value=[]

a=df['Genres'].str.split('|')
for i in range(0,len(a)):
   #print(len(df['Genres']))
   aa=a[i]
   for j in range(0,len(aa)):
     indx.append(i)
     value.append(aa[j])

new_df = df.loc[indx].copy()
new_df['Genres'] = value
new_df.head(10)

   UserID  MovieID  ...                                   Title      Genres
0       1     1193  ...  One Flew Over the Cuckoo's Nest (1975)       Drama
1       1      661  ...        James and the Giant Peach (1996)   Animation
1       1      661  ...        James and the Giant Peach (1996)  Children's
1       1      661  ...        James and the Giant Peach (1996)     Musical
2       1      914  ...                     My Fair Lady (1964)     Musical
2       1      914  ...                     My Fair Lady (1964)     Romance
3       1     3408  ...                  Erin Brockovich (2000)       Drama
4       1     2355  ...                    Bug's Life, A (1998)   Animation
4       1     2355  ...                    Bug's Life, A (1998)  Children's
4       1     2355  ...                    Bug's Life, A (1998)      Comedy

[10 rows x 9 columns]

**KNN using csr matrix**

1. Item based

In [ ]:
df_table=pd.pivot_table(df, values='Rating', index=['Title'],columns=['UserID']).fillna(0)
df_table.head()

UserID                         1     2     3     4     ...  6037  6038  6039  6040
Title                                                  ...
$1,000,000 Duck (1971)          0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0
'Night Mother (1986)            0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0
'Til There Was You (1997)       0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0
'burbs, The (1989)              0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0
...And Justice for All (1979)   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0

[5 rows x 6040 columns]

In [ ]:
from scipy.sparse import csr_matrix
b=csr_matrix(df_table.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(b)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
q_indx=np.random.choice(df_table.shape[0])
dis,indices=model_knn.kneighbors(df_table.iloc[q_indx, :].values.reshape(1, -1),n_neighbors=6)

for i in range(0, len(dis.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(df_table.index[q_indx]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, df_table.index[indices.flatten()[i]], dis.flatten()[i]))

Recommendations for Poison Ivy (1992):

1: Hand That Rocks the Cradle, The (1992), with distance of 0.6494305495300339:
2: Crush, The (1993), with distance of 0.6577417802471868:
3: Poison Ivy: New Seduction (1997), with distance of 0.6632645163867621:
4: Color of Night (1994), with distance of 0.6649315549722604:
5: Sliver (1993), with distance of 0.6671364665266568:

In the above recommendation, it selects a rondom movie then recommend 5 similar movies of that movie.

2.KNN csr matrix(rating)

In [ ]:
n_user = ratings.groupby('MovieID')['Rating'].agg('count')
n_movie = ratings.groupby('MovieID')['Rating'].agg('count')

In [ ]:
print("Number of user voted : ",n_user)
print("Number of moives voted : ",n_movie)

Number of user voted :  MovieID
1       2077
2        701
3        478
4        170
5        296
        ...
3948     862
3949     304
3950      54
3951      40
3952     388
Name: Rating, Length: 3706, dtype: int64
Number of moives voted :  MovieID
1       2077
2        701
3        478
4        170
5        296
        ...
3948     862
3949     304
3950      54
3951      40
3952     388
Name: Rating, Length: 3706, dtype: int64

In [ ]:
# for a valid entry setting the conditions:
#min 10 for n_user
# min 50 for n_movie

In [ ]:
final_df = ratings.pivot(index='MovieID',columns='UserID',values='Rating')

In [ ]:
final_df.fillna(0,inplace=True)
final_df

UserID   1     2     3     4     5     6     ...  6035  6036  6037  6038  6039  6040
MovieID                                      ...
1         5.0   0.0   0.0   0.0   0.0   4.0  ...   4.0   0.0   0.0   0.0   0.0   3.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   1.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   2.0   2.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   0.0  ...   1.0   0.0   0.0   0.0   0.0   0.0
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
3948      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3949      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3950      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3951      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3952      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[3706 rows x 6040 columns]

In [ ]:
final_df = final_df.loc[n_user[n_user > 10].index,:]
final_df

UserID   1     2     3     4     5     6     ...  6035  6036  6037  6038  6039  6040
MovieID                                      ...
1         5.0   0.0   0.0   0.0   0.0   4.0  ...   4.0   0.0   0.0   0.0   0.0   3.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   1.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   2.0   2.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   0.0  ...   1.0   0.0   0.0   0.0   0.0   0.0
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
3948      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3949      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3950      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3951      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3952      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[3233 rows x 6040 columns]

In [ ]:
final_df.loc[:,n_movie[n_movie > 50].index]

MovieID  1     2     3     4     5     6     ...  3946  3947  3948  3949  3950  3952
MovieID                                      ...
1         5.0   0.0   0.0   0.0   0.0   4.0  ...   5.0   0.0   4.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   4.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   1.0   0.0   0.0   0.0   0.0
...       ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
3948      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3949      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3950      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3951      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3952      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[3233 rows x 2499 columns]

In [ ]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [ ]:
csr_data = csr_matrix(final_df.values)
final_df.reset_index(inplace=True)

In [ ]:
csr_data

<3233x6040 sparse matrix of type '<class 'numpy.float64'>'
	with 998269 stored elements in Compressed Sparse Row format>

In [ ]:
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
knn.fit(csr_data)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [ ]:
def recommend(name):
    n = 10
    movie_list = movies[movies['Title'].str.contains(name)]  
    if len(movie_list):        
        movie_idx= movie_list.iloc[0]['MovieID']
        movie_idx = final_df[final_df['MovieID'] == movie_idx].index[0]
        
        distances , indices = knn.kneighbors(csr_data[movie_idx],n_neighbors=n+1)    
        rec_movie_indices = sorted(list(zip(indices.squeeze().tolist(),distances.squeeze().tolist())),\
                               key=lambda x: x[1])[:0:-1]
        
        recommend_frame = []
        
        for val in rec_movie_indices:
            movie_idx = final_df.iloc[val[0]]['MovieID']
            idx = movies[movies['MovieID'] == movie_idx].index
            recommend_frame.append({'Title':movies.iloc[idx]['Title'].values[0],'Distance':val[1]})
        df = pd.DataFrame(recommend_frame,index=range(1,n+1))
        return df
    
    else:
        
        return "No movies found. Please check your input"

In [ ]:
recommend('Toy Story')

                                                Title  Distance
1                                  Matrix, The (1999)  0.449706
2                                 Forrest Gump (1994)  0.448966
3                                 Men in Black (1997)  0.447638
4   Star Wars: Episode V - The Empire Strikes Back...  0.447144
5                                         Babe (1995)  0.436363
6                           Back to the Future (1985)  0.429875
7                                Bug's Life, A (1998)  0.420618
8                                      Aladdin (1992)  0.394151
9                                Groundhog Day (1993)  0.389174
10                                 Toy Story 2 (1999)  0.366896

In [ ]:
movies.loc[movies['Title'].isin(['Toy Story (1995)','Matrix, The (1999)','Forrest Gump (1994)','Men in Black (1997)','Babe (1995)'])]

      MovieID                Title                          Genres
0           1     Toy Story (1995)     Animation|Children's|Comedy
33         34          Babe (1995)         Children's|Comedy|Drama
352       356  Forrest Gump (1994)              Comedy|Romance|War
1539     1580  Men in Black (1997)  Action|Adventure|Comedy|Sci-Fi
2502     2571   Matrix, The (1999)          Action|Sci-Fi|Thriller

In [ ]:
ratings.loc[ratings['MovieID'].isin(['1','34','356','1580','2571'])].groupby('MovieID')['Rating'].count()

MovieID
1       2077
34      1751
356     2194
1580    2538
2571    2590
Name: Rating, dtype: int64

In [ ]:
recommend('Poison Ivy')

                               Title  Distance
1                        Bats (1999)  0.776102
2                  Crush, The (1993)  0.776004
3         Disturbing Behavior (1998)  0.772543
4                        Fear (1996)  0.771395
5                 Strangeland (1998)  0.764719
6              Color of Night (1994)  0.758569
7        Fright Night Part II (1989)  0.757598
8                    Parasite (1982)  0.753422
9                  Poison Ivy (1992)  0.702477
10  Poison Ivy: New Seduction (1997)  0.685869

In [ ]:
movies.loc[movies['Title'].isin(['Poison Ivy (1992)','Bats (1999)','Fear (1996)','Strangeland (1998)','Color of Night (1994)'])]

      MovieID                  Title           Genres
432       436  Color of Night (1994)   Drama|Thriller
656       662            Fear (1996)         Thriller
2229     2298     Strangeland (1998)         Thriller
2905     2974            Bats (1999)  Horror|Thriller
2994     3063      Poison Ivy (1992)         Thriller

In [ ]:
ratings.loc[ratings['MovieID'].isin(['436','662','2298','2974','3063'])].groupby('MovieID')['Rating'].count()

MovieID
436     141
662     128
2298     15
2974     67
3063    139
Name: Rating, dtype: int64

From the above recommendation, it gives 10 similar movies on the basis of given movie.

3. KNN csr matrix (Genres)

In [87]:
#split genres
ddf=movies.copy()
a=movies['Genres'].str.split('|')
for i in range(0,len(a)):
   #print(len(df['Genres']))
   aa=a[i]
   for j in range(0,len(aa)):
     ddf.loc[ddf["Genres"].str.contains(aa[j]),aa[j]]=1
ddf=ddf.drop(columns='Genres')
ddf.head()

   MovieID                               Title  ...  Film-Noir  Western
0        1                    Toy Story (1995)  ...        NaN      NaN
1        2                      Jumanji (1995)  ...        NaN      NaN
2        3             Grumpier Old Men (1995)  ...        NaN      NaN
3        4            Waiting to Exhale (1995)  ...        NaN      NaN
4        5  Father of the Bride Part II (1995)  ...        NaN      NaN

[5 rows x 20 columns]

In [88]:
ddf=ddf.fillna(0)

In [89]:
ddf.head()

   MovieID                               Title  ...  Film-Noir  Western
0        1                    Toy Story (1995)  ...        0.0      0.0
1        2                      Jumanji (1995)  ...        0.0      0.0
2        3             Grumpier Old Men (1995)  ...        0.0      0.0
3        4            Waiting to Exhale (1995)  ...        0.0      0.0
4        5  Father of the Bride Part II (1995)  ...        0.0      0.0

[5 rows x 20 columns]

In [90]:
ddf.shape

(3883, 20)

In [91]:
ddf.columns

Index(['MovieID', 'Title', 'Animation', 'Children's', 'Comedy', 'Adventure',
       'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'],
      dtype='object')

In [92]:
ddf=ddf.drop(columns='Title')

In [93]:
csr_data = csr_matrix(ddf.values)
ddf.reset_index(inplace=True)

In [94]:
csr_data

<3883x19 sparse matrix of type '<class 'numpy.float64'>'
	with 10291 stored elements in Compressed Sparse Row format>

In [100]:
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
knn.fit(csr_data)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [96]:
def n_recommend(name):
    n = 10
    movie_list = movies[movies['Title'].str.contains(name)]  
    if len(movie_list):        
        movie_idx= movie_list.iloc[0]['MovieID']
        movie_idx = ddf[ddf['MovieID'] == movie_idx].index[0]
        
        distances , indices = knn.kneighbors(csr_data[movie_idx],n_neighbors=n+1)    
        rec_movie_indices = sorted(list(zip(indices.squeeze().tolist(),distances.squeeze().tolist())),\
                               key=lambda x: x[1])[:0:-1]
        
        recommend_frame = []
        
        for val in rec_movie_indices:
            movie_idx = ddf.iloc[val[0]]['MovieID']
            idx = movies[movies['MovieID'] == movie_idx].index
            recommend_frame.append({'Title':movies.iloc[idx]['Title'].values[0],'Distance':val[1]})
        df = pd.DataFrame(recommend_frame,index=range(1,n+1))
        return df
    
    else:
        
        return "No movies found. Please check your input"

In [ ]:
n_recommend('Toy Story')

                                 Title  Distance
1                          Babe (1995)  0.471274
2   Dracula: Dead and Loving It (1995)  0.462056
3       American President, The (1995)  0.461184
4                  Tom and Huck (1995)  0.446088
5                       Sabrina (1995)  0.439888
6                       Jumanji (1995)  0.433053
7                         Balto (1995)  0.426461
8   Father of the Bride Part II (1995)  0.411652
9             Waiting to Exhale (1995)  0.410744
10             Grumpier Old Men (1995)  0.396977

In [ ]:
movies.loc[movies['Title'].isin(['Toy Story (1995)','Babe (1995)','Dracula: Dead and Loving It (1995)','American President, The (1995)','Tom and Huck (1995)','Sabrina (1995)'])]

    MovieID                               Title                       Genres
0         1                    Toy Story (1995)  Animation|Children's|Comedy
6         7                      Sabrina (1995)               Comedy|Romance
7         8                 Tom and Huck (1995)         Adventure|Children's
10       11      American President, The (1995)         Comedy|Drama|Romance
11       12  Dracula: Dead and Loving It (1995)                Comedy|Horror
33       34                         Babe (1995)      Children's|Comedy|Drama

In [ ]:
#check movies in same genre
bb=movies[movies['Genres'].isin(["Animation|Children's|Comedy"])]
bb

      MovieID  ...                       Genres
0           1  ...  Animation|Children's|Comedy
1050     1064  ...  Animation|Children's|Comedy
2072     2141  ...  Animation|Children's|Comedy
2073     2142  ...  Animation|Children's|Comedy
2285     2354  ...  Animation|Children's|Comedy
2286     2355  ...  Animation|Children's|Comedy
3045     3114  ...  Animation|Children's|Comedy
3542     3611  ...  Animation|Children's|Comedy
3682     3751  ...  Animation|Children's|Comedy
3685     3754  ...  Animation|Children's|Comedy

[10 rows x 3 columns]

In [ ]:
#OR

In [106]:
knn = NearestNeighbors(metric='minkowski', algorithm='kd_tree', n_neighbors=20, n_jobs=5)
knn.fit(ddf)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=5, n_neighbors=20, p=2, radius=1.0)

In [108]:
    name='Toy Story'
    n = 10
    movie_list = movies[movies['Title'].str.contains(name)] 
    print(movie_list) 
    if len(movie_list):        
        movie_idx= movie_list.iloc[0]['MovieID']
        print(movie_idx)
        #movie_idx = ddf[ddf['MovieID'] == movie_idx].index[0]
        print(movie_idx)
        print('before knn')
        distances , indices = knn.kneighbors(ddf.loc[ddf['MovieID'] == movie_idx],n_neighbors=n+1)    
        print("afte knn")
        print(distances)
        print(indices)
        rec_movie_indices = sorted(list(zip(indices.squeeze().tolist(),distances.squeeze().tolist())),\
                               key=lambda x: x[1])[:0:-1]
        
        recommend_frame = []
        
        for val in rec_movie_indices:
            movie_idx = ddf.iloc[val[0]]['MovieID']
            idx = movies[movies['MovieID'] == movie_idx].index
            recommend_frame.append({'Title':movies.iloc[idx]['Title'].values[0],'Distance':val[1]})
        df = pd.DataFrame(recommend_frame,index=range(1,n+1))
        print(df)
    
    else:
        
        print("No movies found. Please check your input")

      MovieID               Title                       Genres
0           1    Toy Story (1995)  Animation|Children's|Comedy
3045     3114  Toy Story 2 (1999)  Animation|Children's|Comedy
1
1
before knn
afte knn
[[ 0.          2.44948974  3.31662479  4.58257569  5.83095189  7.48331477
   8.66025404 10.04987562 11.48912529 12.9614814  14.28285686]]
[[ 0  1  2  3  4  5  6  7  8  9 10]]
                                 Title   Distance
1       American President, The (1995)  14.282857
2                     GoldenEye (1995)  12.961481
3                  Sudden Death (1995)  11.489125
4                  Tom and Huck (1995)  10.049876
5                       Sabrina (1995)   8.660254
6                          Heat (1995)   7.483315
7   Father of the Bride Part II (1995)   5.830952
8             Waiting to Exhale (1995)   4.582576
9              Grumpier Old Men (1995)   3.316625
10                      Jumanji (1995)   2.449490